::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-track{

    background:#0b0b0b;

}

::-webkit-scrollbar-thumb{

    background:var(--primary);

    border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

    background:#ff3d6e;

}